.about {
    padding-top: 152px;
    font-family: 'Montserrat', sans-serif;
}

.about-landing {
    display: flex;
    align-items: center;

    height: 70vh;
}

.about-img{
    width: 45vw;
    display: flex;
    justify-content: center;
}

.image {
    border-radius: 5px;
    width: 350px;
    height: 450px;
}

.about-info {    
    width: 55vw;
    display: flex;
    padding:5rem;
}

@media (max-width: 480px) {
    .about {
        padding-top: 113px;
    }
    
    .about-landing {
        display: block;
    }
    
    .about-img{
        width: 100vw;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .image {
        width: 250px;
        height: 300px;
    }
    
    .about-info { 
        width: 100vw;
        height: 50vh;
        font-size: 12px;
        text-align: center;
        padding: 0 3rem;
    }
}