.about {
    padding-top: 152px;
    font-family: 'Montserrat', sans-serif;
}

.about-landing {
    display: flex;
    align-items: center;
}

.about-title {
    text-transform: uppercase;
}
.about-info {    
    width: 50vw;
    display: block;
    padding:4rem;
    color: white;
    background-color: #cf9fb2;
    border-radius: 2px;
    margin-left: 2rem;
}

.about-img{
    width: 50vw;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    border-radius: 5px;
    width: 350px;
    height: 450px;
}

@media (max-width: 760px) {
    .about-landing {
        display: block;
    }

    .about-info, .about-img {
        width: 100%;
        margin-left: 0;
    }
}
