.about {
    padding-top: 152px;
}

.about-landing {
    display: flex;

}
.about-img{
    width: 50vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    border: 5px;
    width: 350px;
    height: 450px;
}

.about-info {    
    font-family: 'Montserrat', sans-serif;
    width: 50vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}
