.contact-section {
    padding-top: 140px;
    color: white;
    text-transform: uppercase;
}

.contact-cards {
    width: 50%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #cf9fb2;
    padding: 4rem;
}

.contact-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    padding: 1rem;
}


.fa-solid, .fa-brands {
    padding: .75rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 80%;
    color: #cf9fb2;
    margin: .25rem;
}

.contact-text {
    padding: 1.5rem;
}

.social-icons {
    padding: 1rem;
}

@media (max-width: 760px) {
    .contact-cards {
        width: 65%;
    }
}

@media (max-width: 480px) {
    .contact-cards {
        width: 75%;
        padding: 2rem;
    }
}