.contact {
    padding-top: 152px;
    border: 2px solid red;
}

.contact-info {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;

}

.contact-text {
    margin: 3rem;
    border: 2px solid orange;

}

.fa-brands {
    font-size: 2rem;
    color: black;
    margin: .25rem;
    border: .5px solid green;
}