@import url('https://fonts.googleapis.com/css2?family=Alata&family=Cedarville+Cursive&family=Lobster+Two&family=Montserrat:wght@500&family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 8;
    background: white;
    margin: 0;
    background-color: #cf9fb2;
}

.name-nav {
    font-size: 25px;
    font-family: 'Sacramento', cursive;
    padding: 20px 10%;
    width: 40%;
}
.name-link {
    text-decoration: none;
    color: white;
}

.nav {
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-bar {
    display: flex;
}

.nav-menu { 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    margin-left: auto;
    display: flex;
    width: 80%;
    justify-content: space-evenly; 
} 

.nav-item {
    display: inline-block;
    list-style-type: none;
    
}

.nav-link {
    text-decoration: none;
    color: white;
    line-height: 2em;
}

.toggle-button {
    position: absolute;
    top: 2.75rem;
    right:2.25rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.landing-page {
    display:flex;
    width: 100vw;
    height: 90vh;
    padding-top: 152px;
    margin-bottom: 1.5rem;
}

.landing-text {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    width: 55%;
    margin: auto;
}

.description {
    width: 100%;
    font-size: 20px;
    padding: 3rem 3rem 3rem 3rem;
    text-align: center;
    color: #d389a7;
    text-transform: uppercase;
}

.horizontal-bar {
    width: 95%;
    padding: auto;
    border-bottom-style: solid;
    border-bottom-color: #a7a5a5;
    border-bottom-width: 10px;
    border: 2px #d389a7 solid;
}

.landing-image {
    width: 45%;
    display: flex;
    align-items: center;
}

.image-holder{
    margin: auto;
    width: 350px;
    height: 400px;
}

.portfolio {
    background-color: #cf9fb2;
    margin: auto;
    width: 90%;
}

.my-work-title {
    font-size: 20px;
    padding: 2rem; 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color:white;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.work-card {
    margin: .5rem;    
    width: 258px;
    height: 450px;

}

.work-img:hover {
    transform: translateY(-10px);
}

.work-picture {
    width: 250px;
    height: 340px;
    border-radius: 2px;

}

.card-title {
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
    padding: 1rem;
    font-weight: bolder;
}

.work-text {
    text-align: center;
}

@media (max-width: 760px) {
    .toggle-button {
        display: flex;
        z-index: 7;
    }  

    .nav-container {
        display: block;
    }

    .name-nav {
        z-index: 1;
    }

    .nav {
        width: 100%;
    }
    .nav-bar {
        flex-direction: column;
        height: 100%;
    }

    .nav-menu {
        padding:0;
        flex-direction: column;
        border: none;
        width:100%;
        display: none;
    }

    .nav-item {
        text-align: center;
        margin: .5rem;
    }

    .nav-link {
        font-size: 1rem;
    }

    .nav-menu.active {
        display: flex;
    }

    .landing-page {
        /* border: 2px red solid; */
        flex-direction: column;
        display: block;
        padding-top: 113px;
        margin-bottom: 0;
    }

    .landing-text, .landing-image {
        width: 100%;
    }

    .landing-text {
        height: 30%;
        margin: 0;
        padding: 2rem;
        /* border: 2px solid blue; */
    }

    .description {
        margin: 2rem 4rem;
        font-size: 15px;
    }

    .horizontal-bar {
        margin: auto;
    }

    .landing-image {
        height: 70%;
        /* border: 2px solid green; */
    }

    /* .image-holder {
        width: 250px;
        height: 300px;
    } */

}

@media (max-width: 480px) {
    .nav-container {
        text-align: left;
    }

    .landing-page {
        margin-bottom: 0;
    }

    .landing-text {
        padding: 1rem;
    }

    .description {
        margin: 1.5rem 3rem;
        font-size: 12px;
    }

    .landing-image {
        height: 70%;
    }

     .image-holder {
        width: 250px;
        height: 300px;
    }

}