@import url('https://fonts.googleapis.com/css2?family=Alata&family=Cedarville+Cursive&family=Lobster+Two&family=Montserrat:wght@500&family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-container {
    position: fixed;
    width: 100%;
    z-index: 8;
    text-align: center;
    background: white;
}

.name-nav {
    font-size: 25px;
    font-family: 'Sacramento', cursive;
    padding: 20px 10%;
    letter-spacing: 1px;
}
.name-link {
    text-decoration: none;
    color: black;
}

.nav-bar {
    background-color: #F5D7E3;
}
.nav-menu { 
    padding: 10px 10%;   
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.nav-item {
    display: inline-block;
    padding: 0 20px;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right:1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
}

.landing-page {
    display:flex;
    width: 100vw;
    height: 80vh;
    padding-top: 152px;
    margin-bottom: 1.5rem;
}

.landing-text {
    font-family: 'Montserrat', sans-serif;
    display: block;
    align-items: center;
    width: 55%;
    margin: 3rem 1rem 3rem 0;
}

.description {
    font-size: 20px;
    margin: 8rem 8rem 4rem 4rem;
    text-align: center;
    color: #DA6C98;
    text-transform: uppercase;
    /* border: 2px blue solid; */
}

.horizontal-bar {
    width: 90%;
    border-bottom-style: solid;
    border-bottom-color: #a7a5a5;
    border-bottom-width: 10px;
    border: 2px #DA6C98 solid;
}

.landing-image {
    width: 45%;
    display: flex;
    align-items: center;
}

.image-holder{
    margin: auto;
    width: 350px;
    height: 400px;
}

.portfolio {
    /* background-color: #F5D7E3; */
    /* margin: 0 4rem; */
    /* border: 2px red solid; */
}

.my-work-title {
    font-size: 20px;
    padding: 2rem; 
    margin: 0 5rem;
    text-align: center;
    background-color: #F5D7E3;
    /* border: 2px blue solid;  */
}

.work-card {
    margin: 1rem 2rem 3rem 2rem;
    width: 405px;
    height: 650px;
    /* border: 2px solid purple; */
}

.work-img:hover {
    transform: translateY(-10px);
}

.work-img {
    transition: transform 250ms;
    width: 405px;
    height: 605px;
    object-fit: cover;
    object-position: center;
}

.work-img img {
    width: 400px;
    height: 600px;
    border-radius: 2px;
}

.card-title {
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
    padding: 1rem;
    font-weight: bolder;
}

.work-text {
    text-align: center;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    margin: 0 5rem;
    background-color: #F5D7E3;
    /* border: 2px green solid; */
}


@media (max-width: 760px) {
    .toggle-button {
        display: flex;
        z-index: 7;
    }  

    .nav-container {
        display: block;
    }

    .name-nav {
        z-index: 1;
    }

    .nav-bar {
        flex-direction: column;
        height: 100%;

    }

    .nav-menu {
        flex-direction: column;
        width:100%;
        display: none;
    }

    .nav-item {
        text-align: center;
        margin: .5rem;
    }

    .nav-link {
        font-size: 1rem;
    }

    .nav-menu.active {
        z-index: 8;
       display: flex;
    }

    .landing-page {
        /* border: 2px red solid; */
        flex-direction: column-reverse;
        display: block;
        padding-top: 113px;
        margin-bottom: 0;
    }

    .landing-text, .landing-image {
        width: 100%;
    }

    .landing-text {
        height: 30%;
        margin: 0;
        padding: 2rem;
        /* border: 2px solid blue; */
    }

    .description {
        margin: 2rem 4rem;
        font-size: 15px;
    }

    .horizontal-bar {
        margin: auto;
    }

    .landing-image {
        height: 70%;
        /* border: 2px solid green; */
    }

    /* .image-holder {
        width: 250px;
        height: 300px;
    } */

}

@media (max-width: 480px) {
    .nav-container {
        text-align: left;
    }
}