
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right:1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    width: 100%;
}

h1 {
    cursor: pointer;
}

.nav-menu {
    text-transform: uppercase;
}

.nav-item {
    display: inline-block;
    padding: 0 20px;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #000000
}

@media (max-width: 760px) {
    .toggle-button {
        display: flex;
        z-index: 7;
    }  

    .nav-menu {
        flex-direction: column;
        padding:0;
        flex-direction: column;
        border: none;
        width:100%;
        display: none;
    }
}